<!-- sldsValidatorIgnore -->
<template>
  <lightning-spinner
    if:true={showSpinner}
    alternative-text="Loading"
    variant="inverse"
  ></lightning-spinner>
  <div class="slds-var-p-left_small" style="min-height: 600px; height: auto">
    <div
      class="slds-text-align_center"
      style="padding: 0.5rem; background: #16325c"
    >
      <div class="slds-text-color_inverse-weak">
        Salesforce Custom Account Search
      </div>
    </div>

    <lightning-layout>
      <lightning-layout-item size="6" padding="small">
        <lightning-input
          type="search"
          label="Enter Account Name"
          placeholder="Account Name"
          autocomplete="off"
          onchange={handleInputChange}
        >
        </lightning-input>
      </lightning-layout-item>
      <lightning-layout-item
        size="3"
        padding="around-medium"
        class="slds-m-top_x-small"
      >
        <lightning-button variant="brand" label="Search" onclick={handleSearch}>
          icon-name="utility:search" ></lightning-button
        >
      </lightning-layout-item>
      <lightning-layout-item size="3" padding="small"></lightning-layout-item>
    </lightning-layout>

    <lightning-datatable
      key-field="Id"
      hide-checkbox-column
      data={accounts}
      columns={columns}
    >
    </lightning-datatable>
    <br />
  </div>
</template>
